*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

#container {
  width: 460px;
  padding: 0.5rem;
}

#thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 0.75rem;
  gap: 0.25rem;
}

.thumbnail {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  cursor: pointer;
  border-radius: 0.25rem;
  overflow: hidden;
  opacity: 0.5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.thumbnail[data-selected] {
  position: relative;
  opacity: 1;
}
.thumbnail[data-selected]::after {
  content: "1";
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  border-radius: 50%;
  width: 24px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thumbnail[data-selected="0"] {
  /* box-shadow: inset 0 0 0 1px green; */
}
.thumbnail[data-selected="0"]::after {
  content: "1";
  background-color: green;
}
.thumbnail[data-selected="1"] {
  /* box-shadow: inset 0 0 0 1px purple; */
}
.thumbnail[data-selected="1"]::after {
  content: "2";
  background-color: purple;
}

#mixer-controls {
  grid-area: mixer-controls;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
}
#mixer-controls input[type=checkbox] {
  color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 50%;
  justify-self: center;
  cursor: pointer;
}
#mixer-controls input[type=checkbox][id=lock-volume] {
  align-self: flex-end;
}
#mixer-controls input[type=checkbox]::after {
  width: 1rem;
  aspect-ratio: 1/1;
}
#mixer-controls input[type=checkbox]:checked {
  background-color: #555;
}
#mixer-controls input[type=checkbox]:checked::after {
  background-color: yellow;
}
#mixer-controls input[type=checkbox]::after {
  content: "";
  display: inline-block;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg class='w-6 h-6 text-gray-800 dark:text-white' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961'/%3E%3C/svg%3E%0A");
          mask-image: url("data:image/svg+xml,%3Csvg class='w-6 h-6 text-gray-800 dark:text-white' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #333;
  display: block;
}

#tracks {
  display: grid;
  /* grid-template-columns: repeat(2, 50%); */
  grid-template-columns: repeat(2, 1fr) 0.5fr repeat(2, 1fr);
  grid-template-rows: repeat(2, 6rem);
  grid-template-areas: "track-1 track-1 mixer-controls track-2 track-2" "track-1 track-1 mixer-controls track-2 track-2";
}
#tracks [id*=placeholder-] {
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: inset 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
#tracks [id*=placeholder-] img {
  width: 100%;
}
#tracks #placeholder-1 {
  grid-area: track-1;
}
#tracks #placeholder-2 {
  grid-area: track-2;
}

.track {
  /* padding: 1rem 0.5rem; */
  padding: 0.25rem;
  display: none;
  border-radius: 0.25rem;
  overflow: hidden;
}
.track[data-selected] {
  display: flex;
  flex-direction: column;
}
.track[data-selected="0"] {
  background-color: green;
  box-shadow: inset 0 0 0 1px green;
  grid-area: track-1;
  position: relative;
  /* order: -1; */
}
.track[data-selected="0"] .controls input[type=checkbox][class=playpause] {
  grid-area: play-1;
}
.track[data-selected="1"] {
  background-color: purple;
  box-shadow: inset 0 0 0 1px purple;
  grid-area: track-2;
  position: relative;
}
.track[data-selected="1"] .controls input[type=checkbox][class=playpause] {
  grid-area: play-2;
}
.track .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.25rem;
}

.controls {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: grey;
  border-radius: 0.25rem;
  overflow: hidden;
  display: grid;
  grid-template-areas: "play-2 mute play-1" "volume volume volume" "speed speed speed" "playback playback playback";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.controls input[type=checkbox][class=playpause],
.controls input[type=checkbox][class=mute] {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #eee;
}
.controls input[type=checkbox][class=playpause]::after,
.controls input[type=checkbox][class=mute]::after {
  width: 1.25rem;
  aspect-ratio: 1/1;
}
.controls input[type=checkbox][class=playpause]:checked,
.controls input[type=checkbox][class=mute]:checked {
  background-color: #555;
}
.controls input[type=checkbox][class=playpause]:checked::after,
.controls input[type=checkbox][class=mute]:checked::after {
  background-color: yellow;
}
.controls input[type=checkbox][class=playpause] {
  /* grid-area: play-1; */
}
.controls input[type=checkbox][class=playpause]::after {
  content: "";
  display: inline-block;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg class='w-6 h-6 text-gray-800 dark:text-white' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' d='M8.6 5.2A1 1 0 0 0 7 6v12a1 1 0 0 0 1.6.8l8-6a1 1 0 0 0 0-1.6l-8-6Z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
          mask-image: url("data:image/svg+xml,%3Csvg class='w-6 h-6 text-gray-800 dark:text-white' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' d='M8.6 5.2A1 1 0 0 0 7 6v12a1 1 0 0 0 1.6.8l8-6a1 1 0 0 0 0-1.6l-8-6Z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #333;
  display: block;
}
.controls input[type=checkbox][class=mute] {
  grid-area: mute;
}
.controls input[type=checkbox][class=mute]::after {
  content: "";
  display: inline-block;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg class='w-6 h-6 text-gray-800 dark:text-white' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath d='M5.707 4.293a1 1 0 0 0-1.414 1.414l14 14a1 1 0 0 0 1.414-1.414l-.004-.005C21.57 16.498 22 13.938 22 12a9.972 9.972 0 0 0-2.929-7.071 1 1 0 1 0-1.414 1.414A7.972 7.972 0 0 1 20 12c0 1.752-.403 3.636-1.712 4.873l-1.433-1.433C17.616 14.37 18 13.107 18 12c0-1.678-.69-3.197-1.8-4.285a1 1 0 1 0-1.4 1.428A3.985 3.985 0 0 1 16 12c0 .606-.195 1.335-.59 1.996L13 11.586V6.135c0-1.696-1.978-2.622-3.28-1.536L7.698 6.284l-1.99-1.991ZM4 8h.586L13 16.414v1.451c0 1.696-1.978 2.622-3.28 1.536L5.638 16H4a2 2 0 0 1-2-2v-4a2 2 0 0 1 2-2Z'/%3E%3C/svg%3E%0A");
          mask-image: url("data:image/svg+xml,%3Csvg class='w-6 h-6 text-gray-800 dark:text-white' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath d='M5.707 4.293a1 1 0 0 0-1.414 1.414l14 14a1 1 0 0 0 1.414-1.414l-.004-.005C21.57 16.498 22 13.938 22 12a9.972 9.972 0 0 0-2.929-7.071 1 1 0 1 0-1.414 1.414A7.972 7.972 0 0 1 20 12c0 1.752-.403 3.636-1.712 4.873l-1.433-1.433C17.616 14.37 18 13.107 18 12c0-1.678-.69-3.197-1.8-4.285a1 1 0 1 0-1.4 1.428A3.985 3.985 0 0 1 16 12c0 .606-.195 1.335-.59 1.996L13 11.586V6.135c0-1.696-1.978-2.622-3.28-1.536L7.698 6.284l-1.99-1.991ZM4 8h.586L13 16.414v1.451c0 1.696-1.978 2.622-3.28 1.536L5.638 16H4a2 2 0 0 1-2-2v-4a2 2 0 0 1 2-2Z'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #333;
  display: block;
}
.controls input[type=range] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 1.5rem;
  align-self: center;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.controls input[type=range]::before {
  padding-left: 0.5rem;
}
.controls input[type=range]::-webkit-slider-thumb {
  --width: 0.15rem;
  --color: #999;
  -webkit-appearance: none;
          appearance: none;
  height: 1rem;
  /* aspect-ratio: 1/1; */
  width: var(--width);
  background-color: #333;
  cursor: pointer;
  transform: translateY(-44%);
}
.controls input[type=range]::-webkit-slider-runnable-track {
  background-color: #333;
  height: 0.15rem;
  cursor: pointer;
  margin-inline: 0.5rem;
  border-radius: 0.5rem;
}
.controls input[type=range][class=volume] {
  grid-area: volume;
}
.controls input[type=range][class=volume]::before {
  content: "VOL";
}
.controls input[type=range][class=speed] {
  grid-area: speed;
}
.controls input[type=range][class=speed]::before {
  content: "RPM";
}
.controls input[type=range][class=playback] {
  grid-area: playback;
}
.controls input[type=range][class=playback]::before {
  content: "SEK";
}
.controls [data-content] {
  /* padding-block: 0.5rem; */
}
.controls input,
.controls button {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */