*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

#container {
  width: 460px;
}

#tabs {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.tab {
  padding: 1rem 0.5rem;

  &.audible::after {
    content: "playing";
    display: block;
  }

  &:nth-child(1) {
    background-color: green;
  }

  &:nth-child(2) {
    background-color: purple;
    .controls input[type="range"] {
      order: -1;
    }
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.5rem;
  }
}

#thumbnails {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.thumbnail {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  padding: 0.5rem;
  &[data-selected="0"] {
    background-color: green;
  }
  &[data-selected="1"] {
    background-color: purple;
  }
}

.controls {
  border: 1px solid orange;
  /* width: fit-content; */
  display: flex;

  input[type="range"][orient="vertical"] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    vertical-align: bottom;

    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    height: 128px; /* Full-width */
    width: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;

    &::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: #04aa6d; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }

    &::-moz-range-thumb {
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: #04aa6d; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }
  }
}
