*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

#container {
  width: 460px;
}

#tabs {
  display: grid;
  /* grid-template-columns: repeat(2, 50%); */
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "track-1 track-1 mixer-controls track-2 track-2"
    "track-1 track-1 mixer-controls track-2 track-2";

  #placeholder-1 {
    grid-area: track-1;
    background-color: pink;
    display: flex;
    img {
      width: 100%;
    }
  }

  #placeholder-2 {
    grid-area: track-2;
    background-color: red;
    display: flex;
    img {
      width: 100%;
    }
  }
}

#mixer-controls {
  grid-area: mixer-controls;
  display: flex;
  flex: 1s;
  flex-direction: column;
  align-items: center;
}

.tab {
  padding: 1rem 0.5rem;
  display: none;

  &.audible::after {
    content: "playing";
    display: block;
  }

  &[data-selected] {
    display: flex;
  }

  &[data-selected="0"] {
    background-color: green;
    grid-area: track-1;
    /* order: -1; */
  }

  &[data-selected="1"] {
    background-color: purple;
    grid-area: track-2;
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.5rem;
  }
}

#thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.thumbnail {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  &[data-selected="0"] {
    background-color: green;
  }
  &[data-selected="1"] {
    background-color: purple;
  }
}

.controls {
  display: flex;
  border: 1px solid orange;
  flex-direction: column;

  input,
  button {
    cursor: pointer;
  }
}
