.controls {
  flex: 1;
  background-color: $color-dark-1;
  box-shadow: inset 0 0 2px 2px $color-dark-2;
  border-radius: 0.25rem;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;

  input[type="checkbox"] {
    @include checkbox-button();
  }

  input[type="checkbox"][class="playpause"] {
    grid-area: top-center;

    &::after {
      content: "";
      display: inline-block;
      mask-image: $icon-play;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
    }
  }
  input[type="checkbox"][class="mute"] {
    grid-area: top-left;
    &::after {
      content: "";
      display: inline-block;
      mask-image: $icon-mute;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
    }
  }
  input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 1.5rem;
    align-self: center;
    background-color: transparent;
    display: flex;
    align-items: center;

    &::before {
      padding-left: 0.5rem;
      pointer-events: none;
      color: $color-light-2;
      font-size: 0.75rem;
      font-weight: bold;
    }

    &::-webkit-slider-thumb {
      --width: 0.15rem;
      --color: #999;
      appearance: none;
      height: 1rem;
      width: var(--width);
      background-color: lighten($color-faceplate, 3);
      cursor: pointer;
      transform: translateY(-44%);
    }

    &::-webkit-slider-runnable-track {
      background-color: darken($color-faceplate, 10);
      height: 0.15rem;
      cursor: pointer;
      margin-inline: 0.5rem;
      border-radius: 0.5rem;
    }
  }
  input[type="range"][class="volume"] {
    &::before {
      content: "VOL";
    }
  }
  input[type="range"][class="panning"] {
    &::before {
      content: "PAN";
    }
  }
  input[type="range"][class="speed"] {
    &::before {
      content: "RPM";
    }
  }
  input[type="range"][class="playback"] {
    &::before {
      content: "SEK";
    }
  }
  [data-content] {
    position: relative;
    &::before {
      content: attr(data-content);
    }
  }
  input,
  button {
    cursor: pointer;
  }
}
