.controls {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: grey;
  border-radius: 0.25rem;
  overflow: hidden;

  display: grid;
  grid-template-areas:
    "play-2 mute play-1"
    "volume volume volume"
    "speed speed speed"
    "playback playback playback";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat((4, 1fr));

  input[type="checkbox"][class="playpause"],
  input[type="checkbox"][class="mute"] {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    background-color: #eee;
    &::after {
      width: 1.25rem;
      aspect-ratio: 1/1;
    }
    &:checked {
      background-color: #555;
      &::after {
        background-color: yellow;
      }
    }
  }

  input[type="checkbox"][class="playpause"] {
    /* grid-area: play-1; */

    &::after {
      content: "";
      display: inline-block;
      mask-image: $icon-play;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;

      background-color: #333;
      display: block;
    }
  }
  input[type="checkbox"][class="mute"] {
    grid-area: mute;
    &::after {
      content: "";
      display: inline-block;
      mask-image: $icon-mute;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;

      background-color: #333;
      display: block;
    }
  }
  input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 1.5rem;
    align-self: flex-end;
    background-color: transparent;

    &::-webkit-slider-thumb {
      --width: 0.15rem;
      --color: #999;
      appearance: none;
      height: 1rem;
      /* aspect-ratio: 1/1; */
      width: var(--width);
      background-color: #333;
      cursor: pointer;
      transform: translateY(-44%);
      box-shadow: calc(var(--width) * -1) 0 0 0 var(--color),
        calc(var(--width) * -2) 0 0 0 var(--color),
        calc(var(--width) * -3) 0 0 0 var(--color),
        var(--width) 0 0 0 var(--color),
        calc(var(--width) * 2) 0 0 0 var(--color),
        calc(var(--width) * 3) 0 0 0 var(--color);
    }

    &::-webkit-slider-runnable-track {
      background-color: #333;
      height: 0.15rem;
      cursor: pointer;
      margin-inline: 0.5rem;
      border-radius: 0.5rem;
    }
  }
  input[type="range"][class="volume"] {
    grid-area: volume;
  }
  input[type="range"][class="speed"] {
    grid-area: speed;
  }
  input[type="range"][class="playback"] {
    grid-area: playback;
  }
  [data-content] {
    position: relative;
    /* padding-block: 0.5rem; */
    &::before {
      content: attr(data-content);
      position: absolute;
      top: -60%;
      left: 50%;
      translate: -50% 0;
    }
  }
  input,
  button {
    cursor: pointer;
  }
}
