#mixer-controls {
  grid-area: mixer-controls;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  .title {
    height: 2rem;
    margin-bottom: 0.25rem;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  input[type="checkbox"] {
    @include checkbox-button();
    transition: all $anim-normal;
    border-radius: 0.25rem;

    &[data-content] {
      &::before {
        content: attr(data-content);
        font-size: 0.75rem;
        text-align: center;
      }
    }
    &::after {
      display: inline-block;
      mask-image: $icon-link;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;

      background-color: $color-faceplate;
    }
  }
}
