#mixer-controls {
  grid-area: mixer-controls;

  display: grid;
  grid-template-rows: repeat(4, 1fr);

  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;

  input[type="checkbox"] {
    color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    background-color: #eee;
    padding: 0.5rem;
    border-radius: 50%;
    justify-self: center;
    cursor: pointer;

    &[id="lock-volume"] {
      align-self: flex-end;
    }
    &::after {
      width: 1rem;
      aspect-ratio: 1/1;
    }
    &:checked {
      background-color: #555;
      &::after {
        background-color: yellow;
      }
    }
    &::after {
      content: "";
      display: inline-block;
      mask-image: $icon-link;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;

      background-color: #333;
      display: block;
    }
  }
}
