#thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 0.75rem;
  gap: 0.5rem;
  pointer-events: none;
  background-color: darken($color-faceplate, 5);
  padding: 0.5rem;

  &:focus-visible {
    outline: none;
    .thumbnail {
      opacity: 1;
      filter: grayscale(0);
      &::after {
        content: attr(data-order-id);
        height: 1.5em;
        @include blinking-glow();
        color: $color-dark-2;
        font-weight: bold;
      }
    }
  }
}

.thumbnail {
  pointer-events: all;
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  cursor: pointer;
  border-radius: 0.25rem;
  overflow: hidden;
  opacity: 0.5;
  filter: grayscale(1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: filter $anim-normal;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  $border-width: 0.5rem;
  border: 0.5rem solid $color-faceplate;

  &:hover {
    filter: grayscale(0.5);
  }

  &::after {
    content: "";
    border-radius: 0.15rem;
    width: 1.5rem;
    height: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    box-shadow: 0 0 0 0.25rem $color-faceplate;
    background-color: $color-light-3;
    transition: height $anim-normal, color $anim-normal 150ms;
  }

  &[data-selected] {
    position: relative;
    opacity: 1;
    filter: grayscale(0);
  }
  &[data-selected="0"] {
    &::after {
      background-color: $color-first-track;
      @include glow($color-first-track);
    }
  }
  &[data-selected="1"] {
    &::after {
      background-color: $color-second-track;
      @include glow($color-second-track);
    }
  }
}
