@mixin light-display($light-color) {
  content: "";
  width: 50%;
  height: 0.1rem;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  @include glow($light-color);
}

#tracks {
  --title-size: 120px;

  display: grid;
  grid-template-columns: repeat(2, 1fr) 0.5fr repeat(2, 1fr);
  grid-template-rows: repeat(2, 6rem);
  grid-template-areas:
    "track-1 track-1 mixer-controls track-2 track-2"
    "track-1 track-1 mixer-controls track-2 track-2";

  [id*="placeholder-"] {
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: $shadow-inner-bevel;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #eee;
    font-weight: bold;
    text-align: center;

    &::before {
      @include light-display($color-faceplate);
    }

    img {
      width: 100%;
    }
  }

  #placeholder-1 {
    grid-area: track-1;
  }

  #placeholder-2 {
    grid-area: track-2;
  }
}

.track {
  /* padding: 1rem 0.5rem; */
  padding: 0.5rem;
  display: none;
  border-radius: 0.25rem;
  background-color: lighten($color-faceplate, 15);

  &[data-selected] {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: $shadow-inner-bevel, 0 0 1px 1px rgba(0, 0, 0, 0.15);

    &::before {
      @include light-display(transparent);
    }
  }

  &[data-selected="0"] {
    // background-color: $color-first-track;
    grid-area: track-1;
    position: relative;
    &::before {
      @include glow($color-first-track);
    }

    .controls {
      input[type="checkbox"][class="playpause"] {
        grid-area: play-1;
      }
    }

    /* order: -1; */
  }

  &[data-selected="1"] {
    // background-color: $color-second-track;
    // box-shadow: 0 0 4px 1px $color-second-track;

    grid-area: track-2;

    &::before {
      @include glow($color-second-track);
    }

    .controls {
      input[type="checkbox"][class="playpause"] {
        grid-area: play-2;
      }
    }
  }

  &[data-playing] {
    .title::after,
    .title::before {
      animation-name: scroll-text;
    }
  }

  .title {
    // $title-length: attr(data-length);
    --title-size: 0px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.25rem;
    position: relative;
    height: 2rem;
    display: flex;
    // justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: darken($color-faceplate, 3);
    padding-inline: 0.25rem;
    &::before,
    &::after {
      content: attr(data-content);
      animation-duration: 15s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      color: #eee;
      flex: 1;
    }

    &::before {
      border-right: 1px solid #eee;
    }

    @keyframes scroll-text {
      from {
        transform: translateX(0%);
      }
      to {
        transform: translateX(calc(-100% - 0.5rem));
      }
    }
  }
}
