#tracks {
  --title-size: 120px;

  display: grid;
  grid-template-columns: repeat(2, 1fr) 0.5fr repeat(2, 1fr);
  grid-template-rows: repeat(2, 6rem);
  grid-template-areas:
    "track-1 track-1 mixer-controls track-2 track-2"
    "track-1 track-1 mixer-controls track-2 track-2";

  padding: 0.5rem;
  background-color: $color-dark-1;
  border-radius: 0.25rem;

  [id*="placeholder-"] {
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: $shadow-inner-bevel;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #eee;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;

    &::before {
      @include light-display($color-faceplate);
    }

    img {
      width: 100%;
    }
  }

  #placeholder-1 {
    grid-area: track-1;
  }

  #placeholder-2 {
    grid-area: track-2;
  }
}

.track {
  padding: 0.5rem;
  display: none;
  border-radius: 0.25rem;
  background-color: lighten($color-faceplate, 15);
  transition: all $anim-snappy;

  &[data-selected] {
    display: flex;
    flex-direction: column;
    position: relative;

    box-shadow: 0 0 0.25rem 0 transparent, 0 4px 0.5rem 0.1rem $color-dark-2;
    &::after {
      @include light-display($color: $color-faceplate);
    }
  }

  &[data-selected="0"] {
    grid-area: track-1;
    position: relative;
    &.focused {
      box-shadow: 0 0 0.25rem 0 $color-first-track,
        0 4px 0.5rem 0.1rem $color-dark-2;
    }
    &::after {
      @include glow($color-first-track);
    }
  }

  &[data-selected="1"] {
    grid-area: track-2;
    &.focused {
      box-shadow: 0 0 0.25rem 0 $color-second-track,
        0 4px 0.5rem 0.1rem $color-dark-2;
    }
    &::after {
      @include glow($color-second-track);
    }
  }

  &[data-playing] {
    .title::after,
    .title::before {
      animation-name: scroll-text;
    }
  }

  .title {
    --title-size: 0px;
    $title-offset: 0.15rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.25rem;
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
    background-color: darken($color-faceplate, 3);
    padding-inline: 0.25rem;
    box-shadow: inset 0 0 0.1rem 0.1rem $color-dark-2;
    &::before,
    &::after {
      content: attr(data-content);
      animation-duration: 15s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      color: #eee;
      flex: 1;
    }

    &::after {
      margin-left: $title-offset;
    }
    @keyframes scroll-text {
      from {
        transform: translateX(0%);
      }
      to {
        transform: translateX(calc(-100% - $title-offset));
      }
    }
  }
}
